* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body,
html {
  font-family: "calligraphr", "Comic Sans MS", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  color: #a3c5cc;
  background-color: #071417;
  margin: 0;
  padding: 0;
  text-shadow:
  -1px -1px 0 #071417,
   0   -1px 0 #071417,
   1px -1px 0 #071417,
   1px  0   0 #071417,
   1px  1px 0 #071417,
   0    1px 0 #071417,
  -1px  1px 0 #071417,
  -1px  0   0 #071417;
}

.wrapper {
  max-width: 1440px;
  margin: 80px;
}

#header {
  grid-area: header;
}
#filters {
  grid-area: filters;
}
#contents {
  grid-area: contents;
}
#pagination {
  grid-area: pagination;
}
#footer {
  grid-area: footer;
}

#base {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "filters contents"
    ". pagination"
    "footer footer";
  grid-gap: 80px;
  padding: 0 40px;
}

a,
a:visited {
  color: #42b4ca;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #bfde42;
}

input,
select {
  font-family: "calligraphr", "Comic Sans MS", sans-serif;
  padding: 20px;
  border-radius: 8px;
  border: 0;
}

input[type="text"],
select {
  background-color: #193840;
  font-size: 18px;
  color: #fff;
  border: 0;
}

select {
  appearance: none;
  cursor: pointer;
  padding-right: 40px;

  background-image: linear-gradient(45deg, transparent 50%, #a3c5cc 50%),
    linear-gradient(135deg, #a3c5cc 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 8px),
    calc(100% - 15px) calc(1em + 8px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

input[type="submit"] {
  background-color: #42b4ca;
  border: solid 2px #071417;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  text-shadow:
  -1px -1px 0 #071417,
   0   -1px 0 #071417,
   1px -1px 0 #071417,
   1px  0   0 #071417,
   1px  1px 0 #071417,
   0    1px 0 #071417,
  -1px  1px 0 #071417,
  -1px  0   0 #071417;
}

input[type="submit"]:hover {
  background-color: #bfde42;
}

input[type="text"]::placeholder {
  color: #7a9499;
}

header {
  display: flex;
}

#logo {
  width: 285px;
  text-align: right;
  font-size: 18px;
}

#logo img {
  width: 100%;
  font-size: 48px;
}

a #logo {
  color: #a3c5cc;
}

#menu {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

#menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#menu li {
  list-style: none;
}

#menu a {
  padding-bottom: 8px;
}

#menu .active {
  color: #bfde42;
  border-bottom: solid 2px #bfde42;
}

#filters h2 {
  margin-bottom: 40px;
}

#filters input,
#filters select {
  width: 100%;
}

#filters .filter {
  margin-bottom: 20px;
}

#filters .filter:last-of-type {
  margin-bottom: 40px;
}

#filters .filter label {
  display: block;
  margin-bottom: 16px;
}

h1 {
  margin-bottom: 28px;
}

.avatar {
  width: 184px;
  border-radius: 50% 40% 50% 40%;
  border: solid 4px #bfde42;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

#contents .results {
  margin-bottom: 40px;
}

.grid .card {
  float: left;
  display: flex;
  grid-template-rows: auto;
  gap: 40px;
  width: 280px;
  border-radius: 8px;
  padding: 40px;
  background-color: #193840;
  flex-direction: column;
}

.grid .card h3 {
  text-align: center;
  font-size: 24px;
  color: #bfde42;
}

.grid .card .infos {
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.grid .card .infos li {
  list-style: none;
}

.grid .card .infos .label {
  font-size: 16px;
  color: #7a9499;
  float: left;
  width: 100%;;
  margin-bottom: 4px;;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#pagination .arrow {
  font-size: 36px;
  cursor: pointer;
}

#pagination arrow.disabled {
  display: none;
}

#pagination .total {
  color: #fff;
}

#footer {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #base {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    gap: 40px 0;
  }
  #header {
    flex-direction: column;
    gap: 40px 0;
    align-items: center;
  }

  #menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    align-items: center;
    padding-inline-start: 0px;
  }

  #menu .active {
    border-bottom: none;
  }
}
