@font-face {
font-family: "calligraphr";
src: url('./calligraphr.eot'); /* IE9 Compat Modes */
src: url('./calligraphr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('./calligraphr.woff2') format('woff2'), /* Super Modern Browsers */
     url('./calligraphr.woff') format('woff'), /* Pretty Modern Browsers */
     url('./calligraphr.ttf')  format('truetype'); /* Safari, Android, iOS */
}